# Env variables setup
# copy env.example to .env to configure

# Url to your account
PAGERDUTY_URL=https://example.pagerduty.com

# https://support.pagerduty.com/docs/api-access-keys
PAGERDUTY_TOKEN=xxx
